
  .actionContainer{ display:none; }
  #div_daily, #div_monthly, #div_weekly,  #div_yearly{ width:555px; }
  #div_daily div.btnGroup, #div_monthly div.btnGroup, #div_weekly div.btnGroup,  #div_yearly div.btnGroup{ max-width:455px; }
  #infoDiv{ width:280px; text-align:left; padding:30px 45px 15px 45px; }
  #actionRuleSetupPage{ width:560px; }
  #actionTypeTxt{ clear:none; float:left; }
  #groupContainer{ display:block; float:left; width:430px; }
  #groupContainer select{ margin:1px 7px 3px 2px; min-width: 250px;}
  #subGroupContainer {  display:block; float:none; clear:both; padding-left:119px;}
  #subGroupContainer select { min-width:250px; margin:0px 7px 2px 2px; }
  #statesContainer {  display:block; float:none; clear:both;}
  #statesContainer label { min-width:80px; padding-left:120px; margin:0px 7px 2px 2px; }
  #statesContainer .radio { float:left;}
  #statesContainer label.radio { min-width:30px; padding-right:10px; padding-left:0px; }
  #statesContainer select { min-width:250px; margin:0px 7px 2px 121px; }
  #conditionContainer{ padding:2px 5px 2px 20px;}
  #recurrencyContainer{ width:290px;}
  .rightAlign{ text-align:right; }
  .httpCustomButtons{float:right;}
  .httpCustomParams{float:left;}
